.dashboard {
    text-align: center;
    padding: 20px;
    color: #7E4CFF;
    display: flex;
    flex-direction: column;
}

.summary {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background: #7E4CFF;
    border-radius: 8px;
    padding: 40px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bolder;
}

.to-tables {
    margin-top: 50px !important;
    border: 1px solid #7E4CFF;
    border-radius: 8px;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}